* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: hsl(212, 45%, 89%);

  position: relative;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 32rem;
  height: 49.7rem;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 3.2rem;

  padding: 2.4rem;
}

.container--image {
  border-radius: 12px;
}

.container--heading {
  /* Heading */

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2rem;
  text-align: center;

  /* Dark Navy */

  color: #1f314f;
}

.container--paragraph {
  /* Body */

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: 0.1875px;

  /* Grey */

  color: #7d889e;
}
